<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body class="class-detail">
    <%- include('partial/header'); %>
    <div class="body-container">
      <%- include('partial/menusidebar') %>
      <div class="content">
        <div class="breadcrumb">
          <%- currentClass.hierarchyPath.replace(/\//g, '<span class="separator">/</span>') %> (<a title="Source to <% currentClass.name %>"href="/<%= currentClass.sourceRelativePath %>">source</a>)
          </div>
        <h2 class="class-name"><%= currentClass.name %></h2>
        <% if (currentClass.extends && currentClass.extends.name) { %>
          <div class="extends">
            <div class="title">Extends:</div>
            <div class="content">
              <a href="#"><%= currentClass.extends.name %></a>
            </div>
          </div>
        <% } %>

        <% if (currentClass.tags.subHeading) { %>
          <p class="sub-heading">
            <%- currentClass.tags.subHeading %>
          </p>
        <% } %>
        <% if (currentClass.tags.description) { %>
          <p class="description">
            <%- currentClass.tags.description %>
          </p>
        <% } %>

        <% if (currentClass.tags.todo) { %>
          <p class="description">
            <b>Todo:</b> <%- currentClass.tags.todo %>
          </p>
        <% } %>
        <% if (currentClass.tags.example) { %>
          <p class="example">
            <h4>Example:</h4>
            <pre><%= currentClass.tags.example %></pre>
          </p>
        <% } %>

        <% if (currentClass.constructor) { %>
          <h4>Constructor Summary</h4>
          <%- include('partial/summary-table-class-method', {
            access: 'public',
            sectionTitle: 'Public Constructor',
            methods: [currentClass.constructor],
          }) %>
        <% } %>

        <% if ((currentClass.staticProperties && currentClass.staticProperties.length > 0) || (currentClass.publicProperties && currentClass.publicProperties.length > 0) || (currentClass.privateProperties && currentClass.privateProperties.length > 0)) { %>
          <h4>Member Summary</h4>
        <% } %>

        <% if (currentClass.staticProperties && currentClass.staticProperties.length > 0) { %>
            <%- include('partial/summary-table-class-property', {
              access: 'public',
              sectionTitle: 'Static Member Properties',
              properties: currentClass.staticProperties,
            }) %>
        <% } %>

        <% if (currentClass.publicProperties && currentClass.publicProperties.length > 0) { %>
            <%- include('partial/summary-table-class-property', {
              access: 'public',
              sectionTitle: 'Public Members',
              properties: currentClass.publicProperties,
            }) %>
        <% } %>

        <% if (currentClass.privateProperties && currentClass.privateProperties.length > 0) { %>
            <%- include('partial/summary-table-class-property', {
              access: 'private',
              sectionTitle: 'Private Members',
              properties: currentClass.privateProperties,
            }) %>
        <% } %>


        <% if ((currentClass.getterPublicMethods && currentClass.getterPublicMethods.length > 0) || (currentClass.getterPrivateMethods && currentClass.getterPrivateMethods.length > 0)) {%>
          <h3>Getter Summary: </h3>
        <% } %>

        <% if (currentClass.getterPublicMethods && currentClass.getterPublicMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.getterPublicMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'public get',
                sectionTitle: 'Public Members',
                noArguments: true,
                methods: currentClass.getterPublicMethods,
              }) %>
          <% }%>
        <% } %>

        <% if (currentClass.getterPrivateMethods && currentClass.getterPrivateMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.getterPrivateMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'private get',
                sectionTitle: 'Private Members',
                noArguments: true,
                methods: currentClass.getterPrivateMethods,
              }) %>
          <% }%>
        <% } %>

        <% if ((currentClass.setterPublicMethods && currentClass.setterPublicMethods.length > 0) || (currentClass.setterPrivateMethods && currentClass.setterPrivateMethods.length > 0)) {%>
          <h3>Setter Summary: </h3>
        <% } %>

        <% if (currentClass.setterPublicMethods && currentClass.setterPublicMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.setterPublicMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'public set',
                sectionTitle: 'Public Members',
                noArguments: true,
                methods: currentClass.setterPublicMethods,
              }) %>
          <% }%>
        <% } %>

        <% if (currentClass.setterPrivateMethods && currentClass.setterPrivateMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.setterPrivateMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'private set',
                sectionTitle: 'Private Members',
                noArguments: true,
                methods: currentClass.setterPrivateMethods,
              }) %>
          <% }%>
        <% } %>

        <% if ((currentClass.staticPublicMethods && currentClass.staticPublicMethods.length > 0) || (currentClass.staticPrivateMethods && currentClass.staticPrivateMethods.length > 0)) { %>
          <h4>Static Method Summary</h4>
        <% } %>

        <% if (currentClass.staticPublicMethods && currentClass.staticPublicMethods.length > 0) { %>
        <%- include('partial/summary-table-class-method', {
                access: 'public static',
                sectionTitle: 'Static Public Methods',
                methods: currentClass.staticPublicMethods,
              }) %>
        <% } %>

        <% if (currentClass.staticPrivateMethods && currentClass.staticPrivateMethods.length > 0) { %>
        <%- include('partial/summary-table-class-method', {
                access: 'private static',
                sectionTitle: 'Static Private Methods',
                methods: currentClass.staticPrivateMethods,
              }) %>
        <% } %>

        <% if ((currentClass.publicMethods && currentClass.publicMethods.length > 0) || (currentClass.privateMethods && currentClass.privateMethods.length > 0)) { %>
          <h4>Method Summary</h4>
        <% } %>
        <% if (currentClass.publicMethods && currentClass.publicMethods.length > 0) { %>
            <%- include('partial/summary-table-class-method', {
              access: 'public',
              sectionTitle: 'Public Methods',
              methods: currentClass.publicMethods,
            }) %>
        <% } %>

        <% if (currentClass.privateMethods && currentClass.privateMethods.length > 0) { %>
            <%- include('partial/summary-table-class-method', {
              access: 'private',
              sectionTitle: 'Private Methods',
              methods: currentClass.privateMethods,
            }) %>
        <% } %>

      </div>
    </div>
    <%- include('partial/footer') %>
  </body>
</html>
