<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body class="class-detail">
    <%- include('partial/header'); %>
    <div class="body-container">
      <%- include('partial/menusidebar') %>
      <div class="content">
        <div class="breadcrumb"><%= currentClass.parent %></div>
        <h2 class="class-name"><%= currentClass.name %></h2>
        <% if (currentClass.extends) { %>
          <div class="extends">
            <div class="title">Extends:</div>
            <div class="content">
              <a href="#"><%= currentClass.extends.name %></a>
            </div>
          </div>
        <% } %>

        <% if (currentClass.tags.subHeading) { %>
          <p class="sub-heading">
            <%- currentClass.tags.subHeading %>
          </p>
        <% } %>
        <% if (currentClass.tags.description) { %>
          <p class="description">
            <%- currentClass.tags.description %>
          </p>
        <% } %>

        <% if (currentClass.tags.todo) { %>
          <p class="description">
            <b>Todo:</b> <%- currentClass.tags.todo %>
          </p>
        <% } %>
        <% if (currentClass.tags.example) { %>
          <p class="example">
            <h4>Example:</h4>
            <pre><%= currentClass.tags.example %></pre>
          </p>
        <% } %>

        <% if (currentClass.constructor) { %>
          <h4>Constructor Summary</h4>
          <%- include('partial/summary-table-class-method', {
            access: 'public',
            sectionTitle: 'Public Constructor',
            methods: [currentClass.constructor],
          }) %>
        <% } %>

        <% if (currentClass.staticProperties && currentClass.staticProperties.length > 0) { %>
        <h4>Static Properties: </h4>
          <% for( var i = 0; i < currentClass.staticProperties.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-property', {
                access: 'public',
                title: currentClass.staticProperties[i].name,
                sectionTitle: 'Static Public Properties',
                // params: currentClass.staticProperties[i].params,
                // tags: currentClass.staticProperties[i].tags,
              }) %>
          <% }%>
        <% } %>

        <% if (currentClass.properties && currentClass.properties.length > 0) { %>
        <h3>Class Properties: </h3>
          <% for( var i = 0; i < currentClass.properties.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-property', {
                access: 'public',
                title: currentClass.properties[i].name,
                // params: currentClass.properties[i].params,
                // tags: currentClass.properties[i].tags,
              }) %>
          <% }%>
        <% } %>

        <% if ((currentClass.getterPublicMethods && currentClass.getterPublicMethods.length > 0) || (currentClass.getterPrivateMethods && currentClass.getterPrivateMethods.length > 0)) {%>
          <h3>Getter Summary: </h3>
        <% } %>

        <% if (currentClass.getterPublicMethods && currentClass.getterPublicMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.getterPublicMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'public get',
                sectionTitle: 'Public Members',
                noArguments: true,
                methods: currentClass.getterPublicMethods,
              }) %>
          <% }%>
        <% } %>

        <% if (currentClass.getterPrivateMethods && currentClass.getterPrivateMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.getterPrivateMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'private get',
                sectionTitle: 'Private Members',
                noArguments: true,
                methods: currentClass.getterPrivateMethods,
              }) %>
          <% }%>
        <% } %>

        <% if ((currentClass.setterPublicMethods && currentClass.setterPublicMethods.length > 0) || (currentClass.setterPrivateMethods && currentClass.setterPrivateMethods.length > 0)) {%>
          <h3>Setter Summary: </h3>
        <% } %>

        <% if (currentClass.setterPublicMethods && currentClass.setterPublicMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.setterPublicMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'public set',
                sectionTitle: 'Public Members',
                noArguments: true,
                methods: currentClass.setterPublicMethods,
              }) %>
          <% }%>
        <% } %>

        <% if (currentClass.setterPrivateMethods && currentClass.setterPrivateMethods.length > 0) { %>
          <% for( var i = 0; i < currentClass.setterPrivateMethods.length; i +=1 ) { %>
              <%- include('partial/summary-table-class-method', {
                access: 'private set',
                sectionTitle: 'Private Members',
                noArguments: true,
                methods: currentClass.setterPrivateMethods,
              }) %>
          <% }%>
        <% } %>

        <% if ((currentClass.staticPublicMethods && currentClass.staticPublicMethods.length > 0) || (currentClass.staticPrivateMethods && currentClass.staticPrivateMethods.length > 0)) { %>
          <h4>Static Method Summary</h4>
        <% } %>

        <% if (currentClass.staticPublicMethods && currentClass.staticPublicMethods.length > 0) { %>
        <%- include('partial/summary-table-class-method', {
                access: 'public static',
                sectionTitle: 'Static Public Methods',
                methods: currentClass.staticPublicMethods,
              }) %>
        <% } %>

        <% if (currentClass.staticPrivateMethods && currentClass.staticPrivateMethods.length > 0) { %>
        <%- include('partial/summary-table-class-method', {
                access: 'private static',
                sectionTitle: 'Static Private Methods',
                methods: currentClass.staticPrivateMethods,
              }) %>
        <% } %>

        <% if ((currentClass.publicMethods && currentClass.publicMethods.length > 0) || (currentClass.privateMethods && currentClass.privateMethods.length > 0)) { %>
          <h4>Method Summary</h4>
        <% } %>
        <% if (currentClass.publicMethods && currentClass.publicMethods.length > 0) { %>
            <%- include('partial/summary-table-class-method', {
              access: 'public',
              sectionTitle: 'Public Methods',
              methods: currentClass.publicMethods,
            }) %>
        <% } %>

        <% if (currentClass.privateMethods && currentClass.privateMethods.length > 0) { %>
            <%- include('partial/summary-table-class-method', {
              access: 'private',
              sectionTitle: 'Private Methods',
              methods: currentClass.privateMethods,
            }) %>
        <% } %>

      </div>
    </div>
    <%- include('partial/footer') %>
  </body>
</html>
