<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= pageTitle %> Manuals</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <%- include('partial/header'); %>
    <div class="body-container">
      <%- include('partial/manual_menusidebar') %>
      <div class="content">
        <%- content %>
      </div>
    </div>
    <%- include('partial/footer') %>
  </body>
</html>
