<div class="method">
  <h4>
    <span class="access <%= access %>">
      <%= access %>
    </span>
    <%= title %>
    (<%- params.map(p => {
      const v = [`<span class="param">${p}</span>`];
      if (tags && tags.params[p]) {
        v.push(`:&nbsp;${view.getTypeWithReferenceLink(tags.params[p].type)}`);
      }
      return v.join('');
    }) %>)
    <% if (tags.subHeading || tags.description) { %>
      <div class="description">
        <%= tags.subHeading %>
        <%- (tags.subHeading ? '<br />' : '') %>
        <%= tags.description %>
      </div>
    <% } %>
  </h4>
</div>
