<% var noArguments = noArguments || false %>
<table class="summary-table">
  <thead>
    <tr>
      <td colspan="2">
        <img src="/public/<%= access === 'private' ? 'lock.svg' : 'key.svg' %>" alt="<%= access %>">
        <%= sectionTitle %>
      </td>
    </tr>
  </thead>
  <tbody>
    <% for( var i = 0; i < methods.length; i +=1 ) { %>
    <% var method = methods[i] %>
    <tr>
      <td><%= access %></td>
      <td class="method-name">
        <a href="#"><%= method.name %></a>
          <% if (!noArguments) { %>
            (<%- method.params.map(p => {
              const v = [`<span class="param">${p.name}</span>`];
              if (method.tags && method.tags.params && method.tags.params[p.name]) {
                v.push(`:&nbsp;${view.getTypeWithReferenceLink(method.tags.params[p.name].type)}`);
              }
              return v.join('');
            }).join(', ') %>)
          <% } %>
        </h4>
        <div class="desc"><%- method.tags.subHeading || method.tags.description.trim() %></div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
